.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  margin: 0.4rem;
  padding: 0.5rem;
  font-size: large;
}

.rating {
  font-size: 1.4rem;
  padding-bottom: 0.9rem;
}

.song-unit {
  font-size: 2rem;
  display: block;
  background-color: gold;
}

.movie{
  font-size: 1.5rem
}
